
{{outlet}}

<div class="pin-b fixed bg-black p-2 text-center w-32">
    {{link-to 'Play' 'play' classNames='text-white'}}	&nbsp;	&nbsp;
    {{link-to 'Design' 'design' classNames='text-white'}}
</div>